.index {
  background: #f5f5f5;
  padding-bottom: 30px;
  .banner {
    width: 100%;
    height: 453px;
    background: url("~static/img/banner.png") no-repeat center;
    background-size: cover;
    position: relative;
    .banner-wrap {
      position: relative;
      .login-tab {
        position: absolute;
        right: 0;
        top: 50px;
        width: 226px;
        height: 258px;
        padding: 24px 22px 18px;
        background-color: #ffffff;
        border-radius: 2px;
        overflow: hidden;
        .login-tab-menu {
          border-bottom: 1px solid #ababc1;
          height: 29px;
          margin-bottom: 24px;
          > li {
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            height: 100%;
            position: relative;
            &::before {
              content: '';
              width: 0;
              height: 3px;
              background-color: #ff873f;
              position: absolute;
              bottom: -2px;
              left: 0;
            }
            &.active {
              font-size: 16px;
              color: #ff873f;
              &::before {
                width: 100%;
              }
            }
          }
        }
        .login-tab-content {
          input, button {
            border-radius: 0;
            height: 38px;
          }
          .el-checkbox__inner {
            border-radius: 0;
          }
          .content-row {
            margin-bottom: 18px;
          }
          .content-login {
            .ver-code-input {
              width: 100px;
              vertical-align: top;
              margin-right: 7px;
            }
            .ver-code-text {
              display: inline-block;
              width: 71px;
              height: 36px;
              line-height: 36px;
              text-align: center;
              border: 1px solid #DCDFE6;
              vertical-align: top;
            }
            .ver-code-refresh {
              display: inline-block;
              width: 39px;
              height: 36px;
              line-height: 36px;
              text-align: center;
              border: 1px solid #DCDFE6;
              font-size: 12px;
              color: #666;
              border-left: none;
              vertical-align: top;
              cursor: pointer;
            }
            .login-btn {
              width: 100%;
              background-image: linear-gradient(103deg,
              #fba95e 0%,
              #ff873f 100%);
              color: #fff;
            }
            .submit-row {
              margin-top: 30px;
            }
            .other-row {
              margin-top: 18px;
              .forget-pwd {
                font-size: 12px;
                color: #060608;
                float: right;
                top: 3px;
                position: relative;
              }
            }
          }
          .content-register {}
        }
      }
    }
    .rules {
      width: 100%;
      height: 62px;
      background-color: rgba(255, 255, 255, .1);
      position: absolute;
      bottom: 0;
      .rules-wrap {
        .rule {
          width: 25%;
          float: left;
          text-align: center;
          .rule-icon {
            display: inline-block;
            margin-top: 18px;
            &.rule-run {
              width: 26px;
              height: 28px;
              background: url("~static/img/icon-run.png") no-repeat center;
              background-size: cover;
            }
            &.rule-info {
              width: 22px;
              height: 28px;
              background: url("~static/img/icon-info.png") no-repeat center;
              background-size: cover;
            }
            &.rule-money {
              width: 28px;
              height: 27px;
              background: url("~static/img/icon-money.png") no-repeat center;
              background-size: cover;
            }
            &.rule-risk {
              width: 24px;
              height: 28px;
              background: url("~static/img/icon-risk.png") no-repeat center;
              background-size: cover;
            }
          }
          .rule-content {
            display: inline-block;
            .rc1 {
              font-size: 14px;
              color: #fff;
              margin-bottom: 3px;
              text-align: left;
            }
            .rc2 {
              font-size: 12px;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .index-sec {
    .index-sec-hd {
      height: 40px;
      border-bottom: 2px solid #e6e6e6;
      margin: 44px 0 30px;
      .index-sec-hd-left {
        float: left;
        font-size: 22px;
        color: #060608;
        position: relative;
        height: 100%;
        &::after {
          content: '';
          width: 100%;
          height: 3px;
          background-color: #ff873f;
          position: absolute;
          bottom: -2px;
          left: 0;
        }
      }
      .index-sec-hd-right {
        float: right;
        .idx-btn-prev,
        .idx-btn-next {
          width: 18px;
          height: 18px;
          line-height: 18px;
          text-align: center;
          background-color: #aeb1b6;
          font-size: 14px;
          color: #fff;
          display: inline-block;
          cursor: pointer;
          &:hover {
            background-color: #333;
          }
        }
        .link-more {
          font-size: 14px;
          color: #060608;
          &:hover {
            color: #ff873f;
          }
        }
      }
    }
    .index-sec-bd {
      .money-item {
        width: 380px;
        height: 240px;
        overflow: hidden;
        display: inline-block;
        border-radius: 3px;
        &.money-item-center {
          margin: 0 25px;
        }
        > img {
          width: 100%;
          height: 180px;
          display: block;
        }
        .money-info {
          position: relative;
          width: 100%;
          height: 60px;
          line-height: 60px;
          background-image: linear-gradient(64deg,
          #fba95d 0%,
          #ff883f 100%),
          linear-gradient(
            #ffffff,
            #ffffff);
          .money-title1 {
            font-size: 16px;
            color: #fff;
            margin-left: 27px;
          }
          .money-title2 {
            font-size: 14px;
            color: #fff;
          }
          .money-arrow {
            width: 18px;
            height: 9px;
            background: url("~static/img/money-arrow.png") no-repeat center;
            background-size: cover;
            display: inline-block;
            position: absolute;
            right: 36px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }

      .sc-swiper-slide {
        width: 300px;
        height: 352px;
        background-color: #f5f5f5;
        .link-img {
          width: 100%;
          height: 242px;
          display: block;
          > img {
            width: 100%;
            height: 100%;
          }
        }
        .slide-info {
          height: 85px;
          width: 277px;
          padding: 24px 0 0 22px;
          border: 1px solid #dcdcdc;
          border-top: none;
          border-left: none;
          > p {
            font-size: 14px;
            color: #060608;
            margin-bottom: 24px;
          }
          > a {
            display: block;
            width: 83px;
            height: 26px;
            line-height: 26px;
            background-color: #fff;
            border: solid 1px #5e5e7d;
            font-size: 12px;
            color: #060608;
            text-align: center;
          }
        }
        &:first-child {
          .slide-info {
            border-left: 1px solid #dcdcdc;
            width: 276px;
          }
        }
        &:hover {
          background-color: #fff;
          .slide-info {
            > p {
              color: #ff873f;
              font-weight: bold;
            }
            > a {
              background-color: #fd994e;
              color: #fff;
              border: 1px solid #fd994e;
            }
          }
        }
      }

      .investor-item {
        width: 355px;
        height: 166px;
        padding: 26px 25px 28px 0;
        display: inline-block;
        overflow: hidden;
        background: #fff;
        &:nth-child(2) {
          margin: 0 30px;
        }
        .investor-img {
          display: inline-block;
          width: 126px;
          height: 166px;
        }
        .investor-info {
          display: inline-block;
          width: 204px;
          height: 166px;
          vertical-align: top;
          position: relative;
          margin-left: 20px;
          .investor-name {
            font-size: 18px;
            color: #060608;
          }
          .investor-company {
            font-size: 12px;
            color: #aaa;
            margin: 9px 0 20px;
          }
          .investor-introduce {
            font-size: 12px;
            color: #060608;
            line-height: 20px;
          }
          .meet-btn {
            width: 85px;
            height: 28px;
            display: block;
            line-height: 28px;
            text-align: center;
            background-color: #fd994e;
            color: #fff;
            font-size: 12px;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }

      .invest-agency-item {
        width: 347px;
        height: 289px;
        padding: 24px 8px 25px 25px;
        display: inline-block;
        overflow: hidden;
        background: #fff;
        &:nth-child(2) {
          margin: 0 30px;
        }
        .top-info {
          .left-info {
            display: inline-block;
            width: 169px;
            height: 119px;
            border-bottom: 1px solid #ebebeb;
            vertical-align: top;
            .full-name {
              font-size: 14px;
              font-weight: bold;
              color: #060608;
            }
            .short-line {
              width: 40px;
              height: 1px;
              background-color: #060608;
              margin: 12px 0 27px;
            }
            .short-name {
              font-size: 12px;
              color: #333;
            }
            .site {
              font-size: 12px;
              color: #333;
              margin: 15px 0 28px;
            }
          }
          .right-info {
            display: inline-block;
            height: 120px;
            width: 173px;
            vertical-align: top;
            position: relative;
            > img {
              width: 160px;
              height: 70px;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto 0;
            }
          }
        }
        .bottom-info {
          position: relative;
          height: 169px;
          overflow: hidden;
          .intro-tip {
            font-size: 12px;
            color: #060608;
            margin: 24px 0 17px;
          }
          .introduce {
            font-size: 14px;
            line-height: 25px;
            color: #454545;
          }
          .meet-btn {
            width: 85px;
            height: 28px;
            display: block;
            line-height: 28px;
            text-align: center;
            background-color: #fd994e;
            color: #fff;
            font-size: 12px;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
      .find-money1 {
        display: inline-block;
        width: 278px;
        height: 358px;
        vertical-align: top;
        .fm-info {
          background-color: rgba(18,12,44,0.85);
          width: 218px;
        }
      }
      .find-money2 {
        margin: 0 27px;
        display: inline-block;
        vertical-align: top;
        .find-money2-1 {
          width: 278px;
          height: 164px;
          margin-bottom: 29px;
          .fm-info {
            background-color: rgba(151,159,62,0.85);
            width: 218px;
          }
        }
        .find-money2-2 {
          width: 278px;
          height: 164px;
          .fm-info {
            background-color: rgba(152,124,84,0.85);
            width: 218px;
          }
        }
      }
      .find-money3 {
        display: inline-block;
        vertical-align: top;
        .find-money3-1 {
          width: 580px;
          height: 164px;
          margin-bottom: 29px;
          .fm-info {
            background-color: rgba(224,153,99,0.85);
            width: 520px;
          }
        }
        .find-money3-2 {
          .find-money3-2-1 {
            display: inline-block;
            width: 278px;
            height: 164px;
            vertical-align: top;
            margin-right: 19px;
            .fm-info {
              background-color: rgba(73,100,223,0.85);
              width: 218px;
            }
          }
          .find-money3-2-2 {
            display: inline-block;
            width: 278px;
            height: 164px;
            vertical-align: top;
            .fm-info {
              background-color: rgba(102,108,122,0.85);
              width: 218px;
            }
          }
        }
      }
      .fm-item {
        position: relative;
        > img {
          width: 100%;
          height: 100%;
        }
        .fm-info {
          padding: 30px 34px 29px 26px;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 37px;
          .fm-left {
            float: left;
            .fm-title {
              font-size: 22px;
              font-weight: bold;
              color: #fff;
              margin-bottom: 13px;
            }
            .fm-line {
              width: 30px;
              height: 2px;
              background-color: #fff;
            }
          }
          .fm-right {
            float: right;
            > a {
              display: block;
              width: 83px;
              height: 26px;
              line-height: 26px;
              text-align: center;
              border: solid 1px #fafafa;
              font-size: 12px;
              color: #fff;
              position: relative;
              top: 5px;
              &:hover {
                background-color: #fd994e;
                color: #fff;
                border: 1px solid #fd994e;
              }
            }
          }
        }
      }

      &.bc-sec-bd .swiper-container {
        padding-bottom: 10px;
      }

      .bc-swiper-slide {
        height: 326px;
        box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.2);
        -webkit-transition: -webkit-transform .3s ease;
        -moz-transition: -moz-transform .3s ease;
        -ms-transition: -ms-transform .3s ease;
        -o-transition: -o-transform .3s ease;
        transition: transform .3s ease;
        transform: scale3d(0.94, 0.94, 0.94);
        -webkit-transform: scale3d(0.94, 0.94, 0.94);
        -moz-transform: scale3d(0.9, 0.9, 0.9);
        -ms-transform: scale3d(0.9, 0.9, 0.9);
        -o-transform: scale3d(0.9, 0.9, 0.9);
        &:hover {
          transform: scale3d(1, 1, 1);
          -webkit-transform: scale3d(1, 1, 1);
          -moz-transform: scale3d(1, 1, 1);
          -ms-transform: scale3d(1, 1, 1);
          -o-transform: scale3d(1, 1, 1);
        }
        .link-img {
          width: 100%;
          height: 176px;
          display: block;
          > img {
            width: 100%;
            height: 100%;
          }
        }
        .slide-info {
          height: 115px;
          width: 248px;
          background-color: #fff;
          padding: 16px 26px 19px 19px;
          > p {
            &.title {
              font-size: 15px;
              font-weight: bold;
              color: #060608;
              margin-bottom: 12px;
            }
            &.introduce {
              font-size: 12px;
              color: #aaa;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              overflow:hidden;
              /*! autoprefixer: off */
              -webkit-box-orient: vertical;
              line-height: 20px;
              margin-bottom: 16px;
            }
          }
          > a {
            display: block;
            width: 83px;
            height: 26px;
            line-height: 26px;
            border: solid 1px #ccc;
            font-size: 12px;
            color: #060608;
            text-align: center;
            margin: 0 auto;
            &:hover {
              background-color: #fd994e;
              color: #fff;
              border: 1px solid #fd994e;
            }
          }
        }
      }
    }
  }
}
